body{
    font-family: Source Sans Pro,sans-serif;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

.flexbox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
td{
    height: 60px;
    width: 60px;
    border: 1px solid #bec6d4;
    text-align: center;
    padding: 0px;
    border-collapse: collapse;
    background-color: transparent;
}

.sudokuBox{
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    border: 2px solid #344861;
}
button{
    padding: 5px 12px;
    width: 75px;
    height: 28px;
}
.col3,.col6{
    border-right: 2px solid #344861;
}
.row4 td,.row7 td{
    border-top: 2px solid #344861;
}

input{
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: transparent;
}
input:disabled{
    background-color: rgb(212, 212, 212);
    color: #474747;
}
.incorrect{
    border: 1px solid rgba(226, 4, 4, 0.7) !important;
    background-color: rgba(216, 6, 6, 0.5) !important;
}
.select{
    background-color: rgb(144, 207, 228) !important;
}
